.masonry-container {
    column-count: 4;
}

.pagination {
    justify-content: center;
}

.page-item {
    margin: 3px;
}

.page-link {
    background-color: transparent;
    color: white;
    border-radius: 5px;
}

.meta-item {
    display: inline-block;
    border: solid 1px;
    padding: 5px;
    border-radius: 5px;
    margin: 3px 0;
}

.meta-item:hover {
    background: white;
    color: black;
}

.pagination-container ul {
    flex-wrap: wrap;
}

.bg-none {
    background: none;
}


/* The switch - the box around the slider */



.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.half-switch{
    width: 40px;
    height: 16px;
    top: 7px;
}
.half-switch .slider:before{
    height: 10px;
    width: 10px;
    bottom: 3px;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(35px);
}

.half-switch input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/* Rounded sliders */

#security-filter-container .select2, #security-filter-container .select2-container .selection,
#platforms-filter-container .select2, #platforms-filter-container .select2-container .selection,
#features-filter-container .select2, #features-filter-container .select2-container .selection,#algorithm-filter-container .select2-container .selection, #algorithm-filter-container .select2,#types-filter-container .select2-container .selection, #types-filter-container .select2,#payment-filter-container .select2-container .selection, #payment-filter-container .select2{
    color: black;
    display: block !important;
}

#security-filter-container .select2-selection {
    height: 35px;
}

#select2-security-filter-container {
    margin-top: .2rem;
}

#security-filter-container .select2-selection__arrow {
    top: .2rem
}

.select2-search--inline {
    display: contents; /*this will make the container disappear, making the child the one who sets the width of the element*/
}

.select2-search__field:placeholder-shown {
    width: 100% !important; /*makes the placeholder to be 100% of the width while there are no options selected*/
}


.rounded-image {
    border-radius: 4.2rem;
}

/* CSS Sprites    */

.bg-ios {
    width: 24px; height: 24px;
    background: url('../image/wallet_page.png') -54px -54px;
}
.bg-linux {
    width: 24px; height: 24px;
    background: url('../image/wallet_page.png') -98px -10px;
}
.bg-macos {
    width: 24px; height: 24px;
    background: url('../image/wallet_page.png') -10px -98px;
}
.bg-web {
    width: 24px; height: 24px;
    background: url('../image/wallet_page.png') -98px -98px;
}
.bg-windows-phone {
    width: 24px; height: 24px;
    background: url('../image/wallet_page.png') -142px -10px;
}
.bg-windows {
    width: 24px; height: 24px;
    background: url('../image/wallet_page.png') -142px -54px;
}
.bg-android {
    width: 24px; height: 24px;
    background: url('../image/wallet_page.png') -142px -98px;
}
.bg-chrome-extension {
    width: 24px; height: 24px;
    background: url('../image/wallet_page.png') -54px -142px;
}

.bg-hardware {
    width: 24px; height: 24px;
    background: url('../image/wallet_page.png') -54px -10px;
}



/* CSS Sprites    */

/*#widgets div {*/
/*    background: #80808021;*/
/*    padding: 10px;*/
/*    border-radius: 5px;*/
/*}*/

/* select range styles */


.multi-range, .multi-range * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.multi-range {
    position: relative;
    width: 100%;
    height: 28px;
    margin: 10px 0;
    font-family: monospace;

}
.multi-range,.multi-range  *{
    cursor: pointer;
}

.multi-range > input[type="range"] {
    width: 100%;
    position: absolute;
    bottom: 6px;
    height: 0.2rem;

}


/** Webkit **/

.multi-range > input[type=range]::-webkit-slider-thumb {
    transform: translateY(-18px);
}

.multi-range > input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 0px;
}

/** Webkit **/


/** Moz **/

.multi-range .lrange::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: url('../image/mining_equipments.png') -10px -10px;
    border: none;
    border-radius: 10px;
    visibility: visible !important;
    -webkit-box-shadow: 7px 7px 26px -8px rgba(143,143,143,1);
    -moz-box-shadow: 7px 7px 26px -8px rgba(143,143,143,1);
    box-shadow: 7px 7px 26px -8px rgba(143,143,143,1);

}
.multi-range .hrange::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: url('../image/mining_equipments.png') -46px -10px;
    border-radius: 10px;
    border: none;
    visibility: visible !important;
    -webkit-box-shadow: 7px 7px 26px -8px rgba(143,143,143,1);
    -moz-box-shadow: 7px 7px 26px -8px rgba(143,143,143,1);
    box-shadow: 7px 7px 26px -8px rgba(143,143,143,1);
}
.multi-range hr{
    position: relative;
    height: 2px;
    background: white;
    top: 20px;
}


.multi-range input[type="range"] {
    visibility: hidden !important;
}

/** Moz **/


/** MS **/

.multi-range > input[type=range]::-ms-thumb {
    transform: translateY(-18px);
}

.multi-range > input[type=range]::-ms-track {
    -webkit-appearance: none;
    background: green;
    height: 0px;
}

/** MS **/


.multi-range::after {
    content: 'از ' attr(data-lbound) ' تا ' attr(data-ubound) ' دلار ';
    white-space: nowrap;
    display: block;
    padding: 40px 0px;
    font-size: 13px;
    line-height: 26px;
    font-family: Sans;
}
#hash-range-container .multi-range::after{
    content: 'از ' attr(data-lbound) ' تا ' attr(data-ubound) ' تراهش بر ثانیه ';
}
#pc-range-container .multi-range::after{
    content: 'از ' attr(data-lbound) ' تا ' attr(data-ubound) ' وات ';
}
#average-fee-range-container .multi-range::after{
    content: 'از ' attr(data-lbound) ' تا ' attr(data-ubound) ' درصد ';
}


/* select range styles */


#cost-range-container,#types-filter-container,#hash-range-container,#pc-range-container,#algorithm-filter-container,#security-filter-container,#platforms-filter-container,#features-filter-container,#tf-container,#merge-mining-container,#average-fee-range-container,#tx-fee-shared-container,#payment-filter-container {
    background: #80808021;
    padding: 10px;
    border-radius: 5px;
}


@media only screen and (max-width: 850px) {
    .masonry-container {
        column-count: 3;
    }
}

@media only screen and (max-width: 650px) {
    .masonry-container {
        column-count: 2;
    }
}

@media only screen and (max-width: 450px) {
    .masonry-container {
        column-count: 1;
    }
}

.form-control {
    font-size: unset;
}

